{% extends "komp/base.html" %}

{% block title %}
  Instruction
{% endblock %}


{% block body %}

  <ul>
    <li>Выбирайте игру</li>
    <li>Напишите параметры своего устройства</li>
    <li>Мы скажем вам примерную цену для улучшения вашего ПК или ноутбука()под определенные настройки игры)</li>
  </ul>

  <a href = "{% url 'types' %}"> Our types </a>
  <br>
  <a href = "{% url 'site' %}"> Our questions and comments </a>
  <br>
  <a href = "{% url 'games' %}"> All games </a>
  <br>
  <a href = "{% url 'game' %}"> Comments for game(s) </a>
{% endblock %}
